:root {
    --seize: normal 400 16px/1.4 "Lato", sans-serif;
    --vingt: normal 400 20px/1.4 "Lato", sans-serif;
    --vingt-quatre: normal 400 24px/1.4 "Lato", sans-serif;
    --trente_deux: normal 400 32px/1.4 "Lato", sans-serif;
    --VINGT: normal 700 20px/1.4 "Lato", sans-serif;
    --QUARANTE: normal 700 40px/1.4 "Lato", sans-serif;

    --midnight_blue: #03658c;
    --white: #ffffff;
    --blue: #51818c;
    --black: #000000;
    --grey: #e9ecf2;
    --sable: #d9bca3;
}

/* navbar */
.body {
    background-color: var(--grey) !important;
}

.text > h1 {
    font: var(--trente_deux);
}
header {
    z-index: 3;
    max-width: 100% !important;
    background-color: var(--midnight_blue);
    list-style: none;
    height: 80px;
    color: var(--white);
    font-family: Lato;
    font-weight: bold;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.dropdown_list {
    background-color: #03658c;
    color: #03658c;
}

header a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--seize);
}

#number_cart {
    position: relative;
}

span {
    color: red;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 190px;
}

.navbar {
    display: inline-block;
    position: relative;
    top: -10px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    padding-right: 25px;
}

.container  p /* bonjour [NOM] */ {
    color: var(--black);
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    position: fixed;
    top: 0;
}

.icons {
    float: right;
    display: flex;
}
.icons img {
    width: initial;
    padding-left: 15px;
    vertical-align: middle;
    height: 4vh;
}
/* FIN de navbar */

/* Image de la page index */
.container_image {
    display: inline-block;
    position: relative;
    width: 100%;
}

.container_image .text,
.bouton_decouvre {
    z-index: 1;
    position: absolute;
    text-align: left;
    font-family: Georgia;
    /* margin: 0 auto; */
    left: 5%;
    top: 20%;
    color: var(--white);
    width: 70%;
}

.bouton_decouvre {
    z-index: 1;
    position: absolute;
    text-align: left;
    left: 5%;
    top: 30%;
    color: var(--white);
    background-color: #3d3737;
    width: 5%;
    left: 4%;
    text-align: center;
    margin: 10px;
}

.bouton_decouvre a {
    color: var(--white);
    text-decoration: none;
    background-color: #3d3737;
    padding: 5px 20px;
    border-radius: 4px;
}
/* FIN image de la page index */

/*  Categorie */
.Catégories {
    /*Le titre categories uniquement*/
    font-family: Lato;
    font-size: 35px;
    margin: 130px 50px 20px;
}

.category_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 20px 50px 0px 50px;
}

.category-card {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    display: grid;
    grid-template-rows: max-content min-content;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    margin-bottom: 130px;
    text-decoration: none;
    border-radius: 10px;
    text-transform: capitalize;
}

.category-card > h2 {
    font-size: var(--seize);
    font-family: Lato;
}

.category-card > img {
    height: 30vh;
    object-fit: cover;
    border-radius: 20px;
}

/* FIN categories */

/* Produits recommandés */
.recommended_items {
    font-family: lato;
    font-size: 35px;
    margin-left: 58px;
}

.recommended {
    /* background-color: var(--midnight_blue); */
    color: var(--white);
    font-family: Lato;
    font-size: var(--trente_deux);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 50px 0px 50px;
}

.recommanded_product {
    color: var(--black);
    font-size: var(--VINGT);
    background-color: var(--white);
    font-family: Lato;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    font-size: 20px;
    border: solid 0.5px #d9bca3;
    border-radius: 40px;
}

.recommanded_product > a > img {
    height: 35vh;
    object-fit: cover; /*Sert a garder la proportion de la largeur
    avec la hauteur du height.*/
    border-radius: 35px;
}

.recommended h2 {
    margin-left: 25px;
    font-size: 32px;
    padding-bottom: 20px;
}
/* FIN produits recommandé */

/* A propos */
.about {
    margin-top: 107px;
    padding-left: 15%;
    max-width: 100%;
    margin-bottom: 107px;
    background-color: var(--grey);
}

.about p {
    max-width: 70%;
}

.about tr td {
    padding: 20px 10px 107px 0px;
    font-family: lato;
    font-size: 16px;
}

.about img {
    height: 37vh;
    width: 26vh;
    margin-top: 107px;
}
/*FIN A propos */

/* FOOTER */
footer {
    background-color: var(--midnight_blue);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

footer a {
    text-decoration: none;
    width: 100%;
    color: var(--white);
    font: var(--seize);
    margin: 3% 5%;
    line-height: 1.8em;
}
footer h1 {
    font: var(--vingt);
    margin-bottom: 3%;
    margin: 3% 5%;
}

.suivez-nous {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

li {
    list-style: none;
    display: inline;
}

.copyright {
    margin-top: 25px;
}
/* FIN footer */
/* FIN page index */

/* PAGE ARTICLES */
body {
    background-color: #e9ecf2;
}

.container_desks {
    padding: 157px 50px 130px;
}

.fil {
    padding: 136px 60px 0px 50px;
}

.panier {
    color: var(--black);
}

.container_desks a,
.fil_d_ariane {
    text-decoration: none;
    color: var(--sable);
}

.container_desks a,
.container_desks h2,
.Breadcrumb,
.fil_d_ariane,
.panier {
    font-size: x-small;
}

.container_desks h2,
.fil_d_ariane,
.panier {
    margin-bottom: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.product_item {
    text-align: center;
    border: solid var(--sable) 0.1em;
    background-color: white;
    padding: 10px;
    line-height: 2em;
    border-radius: 50px;
}

.product_item h2,
.product_item h3 {
    font-size: 17px;
    padding-top: 20px;
}

.product_item img {
    border-radius: 50px;
}

.product_and_price {
    display: grid;
    grid: auto / repeat(4, 1fr);
    grid-gap: 50px 20px;
}

/* PAGE ARTICLE */
.body_item {
    background-color: #ffffff;
}
.breadcrumb a {
    text-decoration: none;
    color: var(--sable);
    text-transform: capitalize;
    margin-left: 30px;
}

.breadcrumb h2:nth-child(-n + 1) {
    text-transform: capitalize;
    margin: 130px 20px 20px;
    font-size: 10px;
    margin-top: 157px;
}

.item {
    display: grid;
    grid-template-columns: 30% 33%;
    justify-content: center;
}

.item h2,
.item p {
    font-size: var(--VINGT);
    line-height: normal;
}

.item p {
    color: var(--midnight_blue);
}

#item_description {
    background-color: var(--grey);
    margin-top: 40px;
    padding: 40px;
    margin-bottom: 130px;
    border: solid var(--midnight_blue);
    border-width: 0.5;
    border-radius: 50px;
}

.img_of_items img {
    border: #d9bca3 solid;
    border-width: 0.5;
    height: min-content;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.add_to_cart {
    background-color: var(--sable);
    color: var(--black);
    font-family: lato;
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
    padding: 4px 17px;
}

/* FIN PAGE ARTICLE */

/* Connexion*/
#connexion,
#form {
    margin-top: 130px !important;
    margin-bottom: 130px !important;
    text-align: center;
}
#buttonBlue {
    background-color: #03658c !important;
}
#buttonRed {
    background-color: #e9ecf2 !important;
    color: #000000;
}
/* FIN connexion*/

/* PANIER */
.cart {
    margin-top: 10px !important;
    padding: 25px;
    margin-bottom: 130px;
    background-color: var(--grey);
    display: flex;
    max-width: 100%;
    line-height: 30px;
}

.container_cart {
    margin-left: 20px !important;
}

.description_cart {
    color: #03658c;
}
#price {
    position: relative;
    left: 40px;
}

#quantity {
    position: relative;
    left: 70px;
}
#quantityNumber {
    position: relative;
    left: 90px;
}

#total {
    position: relative;
    left: 150px;
}

#delete {
    position: relative;
    left: 180px;
}

.delete {
    color: red;
    position: relative;
    left: 210px;
}
.Total {
    color: #d9bca3;
    position: relative;
    left: 20px;
}
/*FIN PANIER */

/*---- admin ----*/
#table {
    margin-top: 130px;
    margin-bottom: 130px;
    position: relative;
}

#crud {
    margin-top: 130px !important;
    margin-top: 127px !important;
    margin-bottom: 130px;

    position: relative;
}
/*----FIN admin ----*/

/* RESPONSIVE */
@media screen and (max-width: 640px) {
    header {
        height: auto;
    }

    .category_container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 20px 50px 0px 50px;
    }

    .recommended {
        padding: 25px;
        color: var(--white);
        font-family: Lato;
        font-size: var(--trente_deux);
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px 50px 0px 50px;
        gap: 20px;
    }
    .recommanded_product img {
        height: 10vh;
        width: 30vh;
    }

    /* Responsive articles */
    .product_and_price {
        display: grid;
        grid: auto / 1fr;
        grid-gap: 50px 20px;
        width: 60vh;
        margin: auto;
    }

    .about img {
        display: none;
    }
}
